{% load static %}

<script>
    $(document).ready(function(){
       $('select').formSelect();
   });
</script>

<html lang="en">
    
<head>
    
    <meta charset="UTF-8">
    <title>Craiglist Scraper</title>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >  
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>

<body>
    <nav>
        <div class="container nav-wrapper "> 
            <a href="/" class="brand-logo">Craiglist Scraper</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1 style="text-align: center;"> What do you want to search for on Craiglist scraper</h1>
        <div class="row">
            <div class="col s4">
                <div class="center">
                    <i class="large material-icons" style="color: #EE6E82;">flash_on</i>
                    <p>Fast Craiglist Web Scraper</p>
                    <p class="light center">Scrape away right here with amazing GUI</p> 
                </div>
            </div>
            <div class="col s4">
                <div class="center">
                    <i class="large material-icons" style="color: orange;">camera</i>
                    <p>Filter your searches</p>
                    <p class="light center">We built in functionality to filter based on price range</p> 
                </div>
            </div>
            <div class="col s4">
                <div class="center">
                    <i class="large material-icons" style="color: blue;">chrome_reader_mode</i>
                    <p>A cleaner front-end to Craiglist</p>
                    <p class="light center">We built it with ❤</p> 
                </div>
            </div>
        </div>



    <form action="{% url 'my_app:new_search' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="search" placeholder="Search">
        <input type="text" name="price_min" placeholder="Price Min">
        <input type="text" name="price_max" placeholder="Price Max">
        <button class="waves-effect waves-light btn" type="submit" name="action">Search</button>
    </form>

    {% block content %}

    {% endblock content %}
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>